---
import ThemeIcon from './ThemeIcon.astro';
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // Remove leading slash
---
<header class="bg-base-200 fixed top-0 z-50 w-full">
    <div class="container mx-auto max-w-5xl px-4">
        <div class="navbar">
            <div class="navbar-start">
                <div class="dropdown">
                    <label tabindex="0" class="btn btn-ghost lg:hidden">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
                        </svg>
                    </label>
                    <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-200 rounded-box w-52">
                        <li><a href="/" class={`${currentPath === "" ? "bg-primary text-primary-content hover:bg-primary/90" : ""}`}>Home</a></li>
                        <li><a href="/resume" class={`${currentPath === "resume" ? "bg-primary text-primary-content hover:bg-primary/90" : ""}`}>Resume</a></li>
                        <li><a href="/projects" class={`${currentPath === "projects" ? "bg-primary text-primary-content hover:bg-primary/90" : ""}`}>Projects</a></li>
                        <li><a href="/blog" class={`${currentPath === "blog" ? "bg-primary text-primary-content hover:bg-primary/90" : ""}`}>Blog</a></li>
                    </ul>
                </div>
                <span class="btn btn-ghost normal-case text-xl">
                    <a href="/">John Grahn</a>
                </span>
            </div>
            <div class="navbar-center hidden lg:flex">
                <ul class="menu menu-horizontal px-1">
                    <li><a href="/" class={`${currentPath === "" ? "bg-primary text-primary-content hover:bg-primary/90" : ""}`}>Home</a></li>
                    <li><a href="/resume" class={`${currentPath === "resume" ? "bg-primary text-primary-content hover:bg-primary/90" : ""}`}>Resume</a></li>
                    <li><a href="/projects" class={`${currentPath === "projects" ? "bg-primary text-primary-content hover:bg-primary/90" : ""}`}>Projects</a></li>
                    <li><a href="/blog" class={`${currentPath === "blog" ? "bg-primary text-primary-content hover:bg-primary/90" : ""}`}>Blog</a></li>
                </ul>
            </div>
            <div class="navbar-end">
                <ThemeIcon />
            </div>
        </div>
    </div>
</header>
