---
import RecentProjects from './RecentProjects.astro';
import LatestPosts from './LatestPosts.astro';
import WorkExperience from './WorkExperience.astro';
---
<div class="container mx-auto px-4 py-8 max-w-4xl">
    <section class="hero min-h-[40vh] mb-16">
        <div class="hero-content text-center">
            <div class="max-w-2xl">
                <h1 class="text-5xl font-bold mb-6">
                    Hello, I'm John Grahn
                </h1>
                <div class="space-y-4 text-lg">
                    <p>
                        I'm a software developer with a Bachelor of Science in Computer Science from Western Governors University.
                    </p>
                    <p>
                        I specialize in creating web applications using technologies like JavaScript, React, and Astro, with a strong focus on performance and user experience.
                    </p>
                    <p>
                        I'm also experienced in cloud platforms like Azure, holding certifications such as:
                    </p>
                    <ul class="flex flex-col gap-2 items-center font-medium">
                        <li class="px-4 py-2 border rounded-lg">AZ-104 Azure Administrator Associate</li>
                        <li class="px-4 py-2 border rounded-lg">AZ-305 Azure Solutions Architect</li>
                    </ul>
                    <p class="mt-6 italic">
                        Explore my portfolio to see my projects and learn more about my skills and experience.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <RecentProjects />
    <LatestPosts />
    <WorkExperience />
    <section class="text-center mb-8">
        <h2 class="text-2xl font-bold mb-4">Let's Connect</h2>
        <p class="mb-4">
            If you want to get in touch with me about something or just to say hi, reach out on social media or send me an email.
        </p>
        <div class="flex justify-center gap-4">
            
            <a href="https://github.com/JohnGrahn" class="btn btn-ghost btn-sm">GitHub</a>
            <a href="https://www.linkedin.com/in/john-grahn-852553168/" class="btn btn-ghost btn-sm">LinkedIn</a>
            <a href="mailto:johngrahn@protonmail.com" class="btn btn-ghost btn-sm">Email</a>
        </div>
    </section>
</div>
